{{#section "stylesheets"}}
<link rel="stylesheet" href="/public/css/admin/manageCategory.css">
{{/section}}

<div>
    <h3 class="text-center">Manage Categories</h3>
    <ul class="list-group list-group-flush products-root ">
        {{#each parentCategories as |parent|}}
        <li class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}" id="parentCat{{parent.catId}}">
            <a href="#">
                <p class="d-flex flex-row justify-content-between">
                    <span>
                        <i class="fa fa-arrow-down" aria-hidden="true" onclick="onClick({{parent.catId}})"></i>
                        {{parent.catName}}

                        <div style="text-align: end;">
                            <form method="get" action="/admin/manage/categories/addChildCat">
                                <input type="hidden" value="{{parent.catId}}" name="catId">
                                <input type="hidden" value="{{parent.catName}}" name="catName">
                                <button type="submit" class="addChildButton-pushable" role="button"
                                    style="font-size: small;">
                                    <span class="addChildButton-shadow"></span>
                                    <span class="addChildButton-edge"></span>
                                    <span class="addChildButton-front text">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </form>

                            <form method="get" action="/admin/manage/categories/editCat">
                                <input type="hidden" value="{{parent.catId}}" name="catId">
                                <input type="hidden" value="{{parent.catName}}" name="catName">
                                <button class="editRootButton-pushable" role="button">
                                    <span class="editRootButton-shadow"></span>
                                    <span class="editRootButton-edge"></span>
                                    <span class="editRootButton-front text">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </form>

                            <form style="display: inline;" method="post" action="/admin/manage/categories">
                                <input type="hidden" value="deleteRootCate" name="content">
                                <input type="hidden" value="{{parent.catId}}" name="rootCateId">
                                <button class="deleteRootButton-pushable" role="button">
                                    <span class="deleteRootButton-shadow"></span>
                                    <span class="deleteRootButton-edge"></span>
                                    <span class="deleteRootButton-front text">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </form>
                        </div>

                    </span>

                </p>

            </a>
            <ul class="products-child" id="child{{parent.catId}}">
                {{#each ../childCategories as |child|}}
                {{#if (isChildOf child.parentId parent.catId)}}


                <li>
                    <div class="d-flex justify-content-between">
                        
                            <a href="/category?catId={{child.catId}}">{{child.catName}}</a>
                            <span>
                            <form method="get" action="/admin/manage/categories/editCat">
                                <input type="hidden" value="{{child.catId}}" name="catId">
                                <input type="hidden" value="{{child.catName}}" name="catName">
                                <button type="submit" class="btn btn-primary" style="font-size: 15px;"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i></button>
                            </form>

                            <form method="post" action="/admin/manage/categories">
                                <input type="hidden" value="deleteChildCate" name="content">
                                <input type="hidden" value="{{child.catId}}" name="childCateId">
                                <button type="submit" class="btn btn-danger" style="font-size: 15px;"> <i class="fa fa-trash-o"
                                        aria-hidden="true"></i></button>
                            </form>
                        </span>
                    </div>
                
                </li>


                {{/if}}
                {{/each}}
            </ul>
        </li>
        {{/each}}
    </ul>

    <div id="addRootButton">
        <p class="d-flex justify-content-center">
            <button class="addRootButton-pushable" role="button" onclick="actionAddRoot()">
                <span class="addRootButton-shadow"></span>
                <span class="addRootButton-edge"></span>
                <span class="addRootButton-front text">
                    ADD ROOT CATEGORY
                </span>
            </button>
        </p>
    </div>

    <form method="post" id="addRootAction" action="/admin/manage/categories" hidden>
        <div class="form-group">
            <h3>Name category: </h3>
            <input type="text" class="form-control" name="rootCateName" aria-describedby="emailHelp"
                placeholder="Ex: Electronic">
            <input type="hidden" name="content" value="addRootCate">
            <small class="form-text text-muted">Name of root category you want to add.</small>
        </div>
        <p class="d-flex justify-content-center">
            <button class="addRootButton-pushable" role="button" type="submit">
                <span class="addRootButton-shadow"></span>
                <span class="addRootButton-edge"></span>
                <span class="addRootButton-front text">
                    SUBMIT
                </span>
            </button>
        </p>
    </form>

</div>
{{#section "scripts"}}
<script src="/public/js/admin/manageCategory.js"></script>
{{/section}}