<div>
  <h3 class="text-center">User information</h3>
  {{!-- <div style="max-width: 37.5rem; margin: 0 auto" class="row border rounded">
    <div style="text-align: right;" class="col-6">
      <p>Fullname</p>
      <p>Email</p>
      <p>Date of birth</p>
      <p>Address</p>
      <p>Rating</p>
    </div>
    <div class="col-6">
      <p>{{user.firstName}} {{user.lastName}}</p>
      <p>{{user.email}}</p>
      <p>{{parseDob user.dob}}</p>
      <p>{{user.address}}</p>
      <p>{{user.rating}}</p>
    </div>
  </div> --}}

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card p-3 py-4">
          <div class="text-center">
            {{! <img
              src="https://i.imgur.com/bDLhJiP.jpg"
              width="100"
              class="rounded-circle"
            /> }}
            <i
              style="font-size: 3rem;"
              class="fa fa-user-circle"
              aria-hidden="true"
            ></i>
          </div>
          <div class="text-center mt-3">
            <span class="bg-secondary p-1 px-4 rounded text-white">
              {{#if (isSeller user.roleId)}}
                Seller
              {{/if}}
              {{#if (isBidder user.roleId)}}
                Bidder
              {{/if}}
            </span>
            <h5 class="mt-2 mb-0">{{user.firstName}} {{user.lastName}}</h5>
            <span>{{parseDob user.dob}}</span>
            <div class="px-4 mt-1">
              <p style="font-size: 15px;" class="fonts"><i
                  style="font-size: 20px;"
                  class="fa fa-map-marker fw-bold"
                  aria-hidden="true"
                ></i>
                {{user.address}}</p>
              <p style="font-size: 13px;" class="fonts">
                <i
                  style="font-size: 17px;"
                  class="fa fa-envelope fw-bold"
                  aria-hidden="true"
                ></i>
                {{user.email}}
              </p>
            </div>
            <ul class="social-list">
              {{#each rate as |star|}}
                {{#if (isFullStar star)}}
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                {{/if}}
                {{#if (isEmptyStar star)}}
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                {{/if}}
              {{/each}}
            </ul>
            {{#if (isSeller user.roleId)}}
              <div class="buttons">
                <button class="btn btn-outline-primary px-4">Downgrade</button>
                {{! <button class="btn btn-primary px-4 ms-3">Contact</button> }}
              </div>
            {{/if}}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>