<div style="height: fit-content;" class="flex-shrink-0 p-3 bg-white col-sm-2 hide-for-mobile mt-3">
  <a
    href="/"
    class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
  >
    <span class="fs-5 fw-semibold">Categories</span>
  </a>
  <ul class="list-unstyled ps-0">
      {{#each parentCategories as |parent|}}
        <li class="mb-1">
            <a
                href="/category?catId={{parent.catId}}"
                class="p-0 btn btn-toggle align-items-center rounded collapsed btnShowCategory {{#if parent.isActive}}active{{/if}}"
                data-name="{{parent.catName}}"
            >
                {{parent.catName}}
            </a>
            <div class="collapse childCat {{#if parent.collapsed}}show{{/if}}" id="{{parent.catName}}-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {{#each ../childCategories as |child|}}
                        {{#if (isChildOf child.parentId parent.catId)}}
                            <li><a class="link-dark rounded {{#if child.isActive}}active{{/if}}" href="/category?catId={{child.catId}}">{{child.catName}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </li>
    {{/each}}
  </ul>
</div>
