<nav class='myContainer navbar navbar-expand-lg navbar-light px-0'>
  <a class='header__logo hide-for-mobile flex flex-ai-c' href='/'>
    <img class='img-fluid' src='../../public/images/logo-simple.svg' alt='logo' />
    <p class='m-0'>
      <span>E</span>xpress
      <span>A</span>uction
    </p>
  </a>

  <div class='header__content'>
    {{! <div id="searchdropdown" class="dropdown nav-item form-inline ml-auto show">
      
      <div id="resultbar" class="dropdown-menu-spec dropdown-with-icons"></div>

    </div> }}
    <a style='width: 4rem' class='hide-for-desktop' href='/'>
      <img
        class='img-fluid'
        src='../../public/images/logo-simple.svg'
        alt='logo'
      /></a>
    <form
      style='margin-left: auto;'
      id='search-area'
      class='form-inline my-2 my-lg-0 d-flex'
      method='GET'
      action='/product/search'
    >
      <input
        id='search-bar'
        class='header__input form-control'
        type='search'
        placeholder='Search'
        aria-label='Search'
      />
      <button class='btn header__btn header__search' type='submit'>
        <i class='fa fa-search' aria-hidden='true'></i>
      </button>
    </form>
        {{!-- tạm thời để ngược để test --}}

    {{#if user}}
      <a
      style='margin-left: auto;'
      href='/login'
      class='btn header__btn signin my-2 my-lg-0 hide-for-mobile'
      role='button'
      >Sign in</a>
    {{else}}
    <div class="dropdown hide-for-mobile">
      <a style="background: none" class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
       <i class="fa fa-user" aria-hidden="true"></i> Tam Nguyen
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/bidder/favorite">Favorite list</a></li>
        <li><a class="dropdown-item" href="/bidder/info">Edit info</a></li>
        <li><a class="dropdown-item" href="#">Log out</a></li>
      </ul>
    </div>
      
    {{/if}}
    
    <div class='overlay has-fade'></div>
    <a id='btnHamburger' href='#' class='header__toggle hide-for-desktop'>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class='header__menu has-fade'>
    <ul>
      <li class='header__menu--item'>
        <a href='#'>Categories
          <i class='fa fa-chevron-down' aria-hidden='true'></i></a>
        <ul class='header__dropdown'>
          {{#each parentCategories as |parent|}}
            <li class='header__menu--item'>
              <a href="/category?catId={{parent.catId}}">{{parent.catName}}
                <i
                  class='fa fa-chevron-down'
                  aria-hidden='true'
                ></i>
              </a>
              <ul style="padding: 0;" class="header__dropdown">
                {{#each ../childCategories as |child|}}
                  {{#if (isChildOf child.parentId parent.catId)}}
                    <li><a href="/category?catId={{child.catId}}">{{child.catName}}</a></li>
                  {{/if}}
                {{/each}}
              </ul>
            </li>
          {{/each}} 
        </ul>
      </li>
      <li class='header__menu--item'>
        {{!-- tạm thời để ngược để test --}}
        {{#if user}}
          <a
          style='margin-left: auto;'
          href='/login'
          class='btn header__btn my-2 my-lg-0'
          role='button'
           >Sign in</a>
        {{else}}
        <a href='#'>Tam Nguyen
          <i class='fa fa-chevron-down' aria-hidden='true'></i></a>
        <ul class='header__dropdown'>
          <li class='header__menu--item'>
            <a href="/bidder/favorite">Favorite list</a>
          </li>
          <li class='header__menu--item'>
            <a href="/bidder/info">Edit info</a>
          </li>
          
        </ul>
           
        {{/if}}
       
      </li>
      <li class="header__menu--item">
         <a
          style='margin-left: auto;'
          href='/'
          class='btn header__btn my-2 my-lg-0'
          role='button'
           >Log out</a>
      </li>
    </ul>

  </div>
</nav>

