<nav class="myContainer navbar navbar-expand-lg navbar-light px-0">
  <a class="header__logo hide-for-mobile flex flex-ai-c" href="/">
    <img
      style="width: 50%;"
      class="img-fluid"
      src="/public/images/logo-white-512-95.svg"
      alt="logo"
    />
  </a>

  <div class="header__content">
    <a style="max-width: 3.5rem; margin-right: 10px" class="hide-for-desktop" href="/">
      <img
        class="img-fluid"
        src="/public/images/logo-mini-128.png"
        alt="logo"
      /></a>
    <form
      style="margin-left: auto;"
      id="search-area"
      class="form-inline my-2 my-lg-0 d-flex"
      method="GET"
      action="/search"
    >
      <input
        id="search-bar"
        name="keyword"
        class="header__input form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
        required
      />
      <button class="btn header__btn header__search" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
    {{#if user}}
      <div class="dropdown hide-for-mobile">
        <a
          style="background: none"
          class="btn btn-secondary dropdown-toggle"
          role="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa fa-user" aria-hidden="true"></i>
          {{user.firstName}} {{user.lastName}}
        </a>
        
        <ul style="min-width: 100%" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/bidder/info">Edit info</a></li>
          <li><a class="dropdown-item" href="/bidder/rating">Rating</a></li>
          <li><a class="dropdown-item" href="/bidder/favorite">Favorites</a></li>
          <li><a class="dropdown-item" href="/bidder/currentbids">Bidding list</a></li>
          <li><a class="dropdown-item" href="/bidder/win">Won list</a></li>
          {{#if (isSeller user.roleId)}}
            <li><a class="dropdown-item" href="/seller/my-product">Posted product</a></li>
            <li><a class="dropdown-item" href="/seller/add-product">Upload product</a></li>
          {{/if}}
          {{#if (isAdmin user.roleId)}}
            <li><a class="dropdown-item" href="/admin/manage/categories">Manage categories</a></li>
            <li><a class="dropdown-item" href="/admin/manage/products">Manage products</a></li>
            <li><a class="dropdown-item" href="/admin/manage/users">Manage users</a></li>
          {{/if}}
          <li>
            <form action="/logout" method="post">
              <button style="padding: 0.5rem; display: block" class="btn header__btn mx-3" type="submit" role="button">Log out</a>
            </form>
          </li>
         </ul>
      </div>
    {{else}}
      <a
        style="margin-left: auto;"
        href="/auth/login"
        class="btn header__btn signin my-2 my-lg-0 hide-for-mobile"
        role="button"
      >Sign in</a>
    {{/if}}

    <div class="overlay has-fade"></div>
    <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="header__menu has-fade">
    <ul>
      <li class="header__menu--item">
        <a href="#">Categories
          <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
        <ul class="header__dropdown">
          {{#each parentCategories as |parent|}}
            <li class="header__menu--item">
              <a href="#">{{parent.catName}}
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <ul style="padding: 0;" class="header__dropdown">
                {{#each ../childCategories as |child|}}
                  {{#if (isChildOf child.parentId parent.catId)}}
                    <li><a href="/category?catId={{child.catId}}">{{child.catName}}</a></li>
                  {{/if}}
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </li>
      <li class="header__menu--item">
        {{#if user}}
          <a href="#">{{user.firstName}} {{user.lastName}}
            <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          <ul class="header__dropdown">
            <li class="header__menu--item">
              <a href="/bidder/info">Edit info</a>
            </li>
            <li class="header__menu--item">
              <a href="/bidder/rating">Rating</a>
            </li>
            <li class="header__menu--item">
              <a href="/bidder/favorite">Favorites</a>
            </li>
            <li class="header__menu--item">
              <a href="/bidder/currentbids">Bidding list</a>
            </li>
            <li class="header__menu--item">
              <a href="/bidder/win">Won list</a>
            </li>
            {{#if (isSeller user.roleId)}}
              <li><a class="header__menu--item" href="/seller/my-product">Posted product</a></li>
              <li><a class="header__menu--item" href="/seller/add-product">Upload product</a></li>
            {{/if}}
            {{#if (isAdmin user.roleId)}}
              <li class="header__menu--item"><a href="/admin/manage/categories">Manage categories</a></li>
              <li class="header__menu--item"><a href="/admin/manage/products">Manage products</a></li>
              <li class="header__menu--item"><a href="/admin/manage/users">Manage users</a></li>
            {{/if}}
          </ul>

        {{else}}
          <a
            style="margin-left: auto;"
            href="/auth/login"
            class="btn header__btn my-2 my-lg-0"
            role="button"
          >Sign in</a>

        {{/if}}

      </li>
      {{#if user}}
        <li class="header__menu--item">
          <form action="/logout" method="post" style="text-align: center; display: block"> 
          <button
            style="margin-left: auto;"
            href="/"
            class="btn header__btn my-2 my-lg-0 w-100"
            role="button"
            type="submit"
          >Log out</button>
          </form>
        </li>
      {{/if}}
    </ul>

  </div>
</nav>