<div class="rating__item p-3 mb-3">
  <div style="gap: 1.25rem" class="d-flex">
    <div>
      <p class="mb-0 fw-bold">{{this.rateName}}</p>
      {{#if this.satisfied}}
        <p class="text-success">Satisfied
          <i class="fa fa-thumbs-up" aria-hidden="true"></i></p>
      {{else}}
        <p class="text-danger">Dissatisfied
          <i class="fa fa-thumbs-down" aria-hidden="true"></i>
        </p>
      {{/if}}
      <p class="text-secondary mb-0"><span>[{{this.catName}}]</span>
        {{this.proName}}</p>

      <p class="mb-0">{{this.comment}}</p>
      <small style="font-size: 0.7rem;" class="text-secondary">{{parseDate
          this.ratingTime
        }}</small>
    </div>
  </div>
</div>