<div style="background-color: white;" class="rounded-3 p-4">
  <h1 class="h3 fw-bold">My winning products</h1>
  {{#if empty}}
    <div class="alert alert-info">You have not won any products yet</div>
  {{else}}
    <div class="winning__content py-3">
        <div class="row m-0">
          <div class="col-md-12 px-0">
            <div class="panel">
                <div class="panel-body table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Seller</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="list-request">
                    {{#each this.winningList as |item|}}
                        <tr>
                        <td style="min-width: 7rem;">
                          <a href="/product?proId={{item.proId}}">
                           <img
                            src="{{this.secureUrl}}"
                            class="img-fluid"
                            alt=""
                        />
                          </a>
                        </td>
                        <td style="min-width: 15rem;" class="hide-overflow"
                        >{{item.proName}}</td>
                        <td style="min-width: 6rem;">{{item.currentPrice}}$</td>
                        <td style="min-width: 8rem;" class="hide-overflow">{{item.sellerName}}</td>
                        <td style="min-width: 7rem;">
                          {{#unless item.rated}}
                            <button
                              class="btn header__btn mt-2 btn__rate"
                              type="button"
                              data-bs-toggle="modal"
                              data-bs-target="#ratingModal"
                              data-id="{{item.sellerId}} {{item.proId}}"
                            >Rate</button>
                          {{/unless}}
                            
                        </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
      <div
        style="margin-top: 5.5rem;"
        class="modal fade"
        id="ratingModal"
        tabindex="-1"
        aria-labelledby="ratingModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ratingModalLabel">Give us your
                thoughts</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/user/rateSeller" id="frmComment" method="post">
                <div class="mb-3">
                  <input id="txtSeller" type="hidden" name="sellerid" />
                  <input id="txtProduct" type="hidden" name="proid" />
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="opinion"
                      id="satisfied"
                      value="satisfied"
                    />
                    <label class="form-check-label" for="satisfied">
                      Satisfied
                      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="opinion"
                      id="dissatisfied"
                      value="dissatisfied"
                    />
                    <label class="form-check-label" for="flexRadioDefault2">
                      Dissatisfied
                      <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                    </label>
                  </div>
                  <label for="email" class="col-form-label">Comment</label>
                  {{! <input type="email" class="form-control" id="email" /> }}
                  <textarea
                    style="display: block; width: 100%"
                    name="commentBox"
                    cols="30"
                    rows="10"
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

</div>

{{#section "scripts"}}
  <script>
    $('.btn__rate').on('click', function() { const id = $(this).data('id');
    const parts = id.split(' '); $('#txtSeller').val(parts[0]);
    $('#txtProduct').val(parts[1])})
  </script>
{{/section}}