<section class="myContainer myContainer--py row">
    {{>category}}
    <div class="col-sm-1 col-md-10">
        <div class="card">
            {{#each this.product as |pro|}}
            <div class="container-fluid">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active">
                                <img src="/public/images/product/{{proId}}/1.jpg" id="mainPic" />
                            </div>
                            <div class="products__content owl-carousel owl-theme" style="padding-right:3em;">
                                {{#each ../amountPic as |pics|}}
                                <a data-target="#pic-1" data-toggle="tab">
                                    <img src="/public/images/product/{{pro.proId}}/{{pics.value}}.jpg"
                                        id="subPic{{pics.value}}" onmouseover="changeImg('{{pics.value}}')"
                                        class="subPic" />
                                </a>
                                {{/each}}
                            </div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">
                            {{proName}}
                        </h3>
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th class="pl-0 w-50" scope="row">
                                        <strong>
                                            Current Price:
                                        </strong>
                                    </th>
                                    <td>
                                        {{currentPrice}}$
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-50" scope="row">
                                        <strong>
                                            Step Price:
                                        </strong>
                                    </th>
                                    <td>
                                        {{stepPrice}}$
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-50" scope="row">
                                        <strong>
                                            Seller:
                                        </strong>
                                        {{#unless ../empty}}
                                    </th>
                                    <td>
                                        {{maskBidderName sellerName}} &nbsp; {{sellerRating}}/10
                                        <i class="fa fa-star checked" aria-hidden="true"></i>

                                    </td>
                                    {{/unless}}
                                </tr>
                                <tr>
                                    <th class="pl-0 w-50" scope="row">
                                        <strong>
                                            Highest Bidder:
                                        </strong>
                                    </th>
                                    {{#unless ../empty}}
                                    <td>
                                        {{maskBidderName bidderName}} &nbsp; {{bidderRating}}/10
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                    </td>
                                    {{/unless}}
                                </tr>
                                <tr>
                                    <th class="pl-0 w-50" scope="row">
                                        <strong>
                                            Post Date:
                                        </strong>
                                    </th>
                                    <td>
                                        {{parseDate postDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0 w-50" scope="row">
                                        <strong>
                                            Expired Date:
                                        </strong>
                                    </th>
                                    <td>
                                        {{getRemainingTime expiredDate}} days left
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{#if ../isUserId}}
                        <div></div>
                        <div class="action1" style="text-align: center;">

                            {{#if (isFavorite proId ../FavoriteProduct)}}
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="unlikeButton" onclick="buttonLike2()"
                                    style="color: red">
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="unlike" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="likeButton" onclick="buttonLike2()"
                                    style="color: black" hidden>
                                    <span class="fa fa-heart-o" id="like"></span>
                                    <input type="hidden" id="like" value="like" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            {{else}}
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="likeButton" onclick="buttonLike1()"
                                    style="color: black">
                                    <span class="fa fa-heart-o" id="like"></span>
                                    <input type="hidden" id="like" value="like" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="unlikeButton" onclick="buttonLike1()"
                                    style="color: red" hidden>
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="unlike" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            {{/if}}
                            {{#if (isSellerOfThis this.sellerId this.userId)}}

                            {{else}}

                            <form id="bidAction" method="post" action="/product" hidden>
                                {{#if (getRatingType userRating 1)}}
                                <p class="d-flex justify-content-center">
                                    <strong>Minimum Bid Price:&nbsp </strong>
                                    <span>{{minimumBidPrice}}$</span>
                                <div></div>
                                <strong>Your Price: </strong>
                                <input type="number" name="price" />

                                <div style="font-size: smaller;">This is using Auto Bid. You just need to enter your max
                                    price(Largest price you can pay for this product). The system will calculate and
                                    auto bid to give you a best price</div>
                                {{!-- this field is used to pass value into javascript --}}
                                <input type="hidden" name="minimumPrice" value={{minimumBidPrice}} />
                                <input type="hidden" name="content" value="Submit" />
                                <input type="hidden" name="proId" value={{proId}} />
                                <input type="hidden" name="stepPrice" value={{stepPrice}} />
                                <div></div>
                                <input type="submit" class="bid btn btn-default" value="Submit" name="content">
                                </p>
                                {{/if}}

                                {{#if (getRatingType userRating 2)}}
                                <br>
                                <h5>Your rating score does not meet the requirement for bidding (smaller than 80%)!!!
                                </h5>
                                {{/if}}

                                {{#if (getRatingType userRating 3)}}
                                <br>
                                <h5>Seller of this product is not allow user which doesn't have rating score to bid!!!
                                </h5>
                                {{/if}}
                            </form>

                            <button id="bidButton" class="bid btn btn-default" type="button" onclick="showbid()">
                                Bid now
                            </button>
                            {{/if}}
                        </div>
                        {{/if}}
                        {{#if ../empty}}
                        <p class="alert alert-info fw-bold mt-3">No one has bid for this product yet!</p>
                        {{else}}
                        <table class="table table-info table-striped mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Bidder</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ../auctionHistory as |history|}}
                                <tr>
                                    <td>{{parseDate history.auctionTime}}</td>
                                    <td>{{maskBidderName history.bidderName}}</td>
                                    <td>{{history.auctionPrice}} USD</td>
                                    {{#if history.isDenied}}
                                    <td> ACCEPT</td>
                                    {{else}}
                                    <td> DENIED</td>
                                    {{/if}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        {{/if}}

                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            {{#if (isSellerOfThis this.sellerId this.userId)}}
            
            <div class=" ">
                <h1 class="products__title">
                    List Bidder
                </h1>
                <div class="description-content">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header">
                                <div class="col col-1"> Bidder Name</div>

                            </li>
                            {{#each ../listBidder as |listbidder|}}
                            <li class="table-row">
                                <div class="d-flex justify-content-between col col-1">{{maskBidderName
                                    listbidder.bidderName}}

                                </div>
                                <form method="post" action="/seller/denyBidder">
                                    <input type="hidden" value="{{listbidder.bidderId}}" name="bidderId">
                                    <input type="hidden" value="{{../proId}}" name="proId">
                                    <input type="hidden" value="{{../stepPrice}}" name="stepPrice">
                                    <button type="submit" class="btn btn-danger"> DENY </button>
                                </form>
                            </li>
                            {{/each}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            {{/if}}

            <div class="">
                <h1 class="products__title">
                    Description
                </h1>
                <div class="description-content">
                    {{fullDes}}
                </div>
            </div>

            {{/each}}
            <div class="">
                <div class="products__related mt-3">
                    <h1 class="products__title">Related Product</h1>
                    <div class="products__content owl-carousel owl-theme">
                        {{#each this.listProduct}}
                        {{>product product=this}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section "scripts"}}
<script src="/public/js/viewDetailProduct.js"></script>
{{/section}}

{{#section "stylesheets"}}
<link rel="stylesheet" href="/public/css/detailProduct.css">
{{/section}}