
<section class="myContainer myContainer--py row">
    <div class="col-sm-2 px-0 hide-for-mobile">
            <ul class="list-group list-group-flush products-parent-categories">
                {{#each parentCategories as |parent|}}
                <li class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
                    <a  href="#">
                    {{parent.catName}}
                    </a>
                    <ul class="products-child-categories">
                    {{#each ../childCategories as |child|}}
                    {{#if (isChildOf child.parentId parent.catId)}}
                    <li><a href="/category?catId={{child.catId}}">{{child.catName}}</a></li>
                    {{/if}}
                    {{/each}}
                    </ul>
                </li>
                {{/each}}
            </ul>
        </div>
     <div class="col-sm-1 col-md-10">
            <div class="card">
                {{#each this.product as |pro|}}
                <div class="container-fluid">
                    <div class="wrapper row">
                        <div class="preview col-md-6">
                            <div class="preview-pic tab-content">
                                <div class="tab-pane active" >
                                    <img src="/public/images/product/{{proId}}/1.jpg" id="mainPic"/>
                                </div>
                            </div>
                            <div class="products__content owl-carousel owl-theme">
                                {{#each ../amountPic as |pics|}}
                                    <a data-target="#pic-1" data-toggle="tab" >
                                        <img src="/public/images/product/{{pro.proId}}/{{pics.value}}.jpg" id="subPic{{pics.value}}" onmouseover="changeImg('{{pics.value}}')" class="subPic" />
                                    </a>
                                {{/each}}
                            </div>
                        </div>
                        <div class="details col-md-6">
                            <h3 class="product-title">
                                {{proName}}
                            </h3>
                            <table class="table table-sm table-borderless mb-0">
                                <tbody>
                                    <tr>
                                        <th class="pl-0 w-50" scope="row">
                                            <strong>
                                                Current Price:
                                            </strong>
                                        </th>
                                        <td>
                                            {{currentPrice}}$
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-50" scope="row" >
                                            <strong>
                                                Seller:
                                            </strong>
                                        </th>
                                        <td>
                                            {{bidderName}} &nbsp; 4.9/5.0
                                            <i class="fa fa-star checked" aria-hidden="true"></i>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-50" scope="row">
                                            <strong>
                                                Highest Bidder:
                                            </strong>
                                        </th>
                                        <td>
                                            {{bidderName}} &nbsp; 4.9/5.0
                                            <i class="fa fa-star checked" aria-hidden="true"></i>

                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-50" scope="row">
                                            <strong>
                                                Post Date:
                                            </strong>
                                        </th>
                                        <td>
                                            {{parseDate postDate}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="pl-0 w-50" scope="row">
                                            <strong>
                                                Expired Date:
                                            </strong>
                                        </th>
                                        <td>
                                            {{getRemainingTime expiredDate}} days left
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <div class="action" style="text-align: end;">
                                <button class="bid btn btn-default" type="button">
                                    Bid now
                                </button>
                                <form method="post">
                                {{#if (isFavorite proId ../FavoriteProduct)}}
                                <button class="like btn btn-default" type="submit" id="unlikeButton" onclick="buttonLike2()" style="color: red">
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="unlike" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                                </form>
                                <form method="post">
                                <button class="like btn btn-default" type="submit" id="likeButton" onclick="buttonLike2()" style="color: white" hidden>
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="like" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                                </form>
                                {{else}}
                                <form method="post">
                                <button class="like btn btn-default" type="submit" id="likeButton" onclick="buttonLike1()" style="color: white">
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="like" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                                </form>
                                <form method="post">
                                <button class="like btn btn-default" type="submit" id="unlikeButton" onclick="buttonLike1()" style="color: red"  hidden>
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="unlike" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                                </form>
                                {{/if}}
                            </div>

                            {{#if ../empty}}
                                <p class="text-danger fw-bold">No one has bid for this product yet!</p>
                            {{else}}
                                <table class="table table-info table-striped mt-3">
                                <thead>
                                    <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Bidder</th>
                                    <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each ../auctionHistory as |history|}}
                                        <tr>
                                            <td>{{parseDate history.auctionTime}}</td>
                                            <td>{{maskBidderName history.bidderName}}</td>
                                            <td>{{history.auctionPrice}} USD</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            {{/if}}
                            
                        </div>
                    </div>
                </div>
                <div class="description-block headshot headshot-1 px-4 pt-1">
                    <h1 class="products__title">
                        Description
                    </h1>
                    <div class="description-content">
                        {{fullDes}}
                    </div>
                </div>
                {{/each}}
                <div class="description-block headshot headshot-1 px-4 pt-1">
                <div class="products__related mt-3">
                    <h1 class="products__title">Related Product</h1>
                    <div class="products__content owl-carousel owl-theme">
                        {{#each this.listProduct}}
                        {{>product product=this}}
                        {{/each}}
                    </div>
                </div>
                </div>
            </div>
        </div>
</section>
    <script>
        function changeColor(id,color) {
            document.getElementById(id).style.color=color;
        }

        function buttonLike1(){
            let likeButton = document.getElementById("likeButton");
            let unlikeButton= document.getElementById("unlikeButton");

            if(likeButton.getAttribute("hidden"))
            {
                likeButton.removeAttribute("hidden");
                unlikeButton.setAttribute("hidden","hidden");
            }
            else{
                unlikeButton.removeAttribute("hidden");
                likeButton.setAttribute("hidden","hidden");
            }
        }

        function buttonLike2(){
            let likeButton = document.getElementById("likeButton");
            let unlikeButton= document.getElementById("unlikeButton");

            if(unlikeButton.getAttribute("hidden"))
            {
                unlikeButton.removeAttribute("hidden");
                likeButton.setAttribute("hidden","hidden");
            }
            else{
                likeButton.removeAttribute("hidden");
                unlikeButton.setAttribute("hidden","hidden");
            }
        }

        function buttonUnlike(){
            if(document.getElementById("like").style.color=="white")
                changeColor("like","red");
            else
                changeColor("like","white")
        }
        function changeImg(pic) {
            var mainPic = document.getElementById('mainPic');
            var subPic = document.getElementById(`subPic${pic}`);
            var tmp = subPic.src;

            mainPic.src=subPic.src;
            subPic.src=tmp;
            
        }
    </script>
    
{{#section "stylesheets"}}
    <link rel="stylesheet" href="/public/css/detailProduct.css">
{{/section}}
