<section class="myContainer myContainer--py row">
    {{>category}}
    <div class="col-sm-10 col-md-10">
        <div class="card">
            {{#each this.product as |pro|}}
            <div class="container-fluid">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active mb-4">
                                <img style="max-height: 19.875rem; height: 18rem; object-fit: contain;"
                                    src="{{pro.secureUrl}}" id="mainPic" />
                            </div>
                            <div class="products__content owl-carousel owl-theme" style="padding-right:3em;">
                                {{#each ../amountPic as |pics|}}
                                <a data-target="#pic-1" data-toggle="tab">
                                    <img style="max-width: 100px; margin: 0 auto; height: 2.625rem object-fit: contain;"
                                        src="{{pics.secureUrl}}" id="subPic{{pics.value}}"
                                        onmouseover="changeImg('{{pics.value}}')" class="subPic" />
                                </a>
                                {{/each}}
                            </div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h1 class="product-title">
                            {{proName}}
                        </h1>
                        <table class="table table-sm table-borderless mb-0">
                            <tbody>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Current Price:
                                        </strong>
                                    </th>
                                    <td>
                                        {{currentPrice}}$
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Step Price:
                                        </strong>
                                    </th>
                                    <td>
                                        {{stepPrice}}$
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Buy now Price:
                                        </strong>
                                    </th>
                                    <td>
                                        {{buyNowPrice}}$
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Seller:
                                        </strong>

                                    </th>
                                    <td>
                                        <a href="/product/rating?userId={{sellerId}}">{{maskBidderName sellerName}}</a> &nbsp; {{sellerRating}}/10
                                        <i class="fa fa-star checked" aria-hidden="true"></i>

                                    </td>

                                </tr>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Highest Bidder:
                                        </strong>
                                    </th>

                                    <td>
                                        <a href="/product/rating?userId={{bidderId}}">{{maskBidderName bidderName}}</a> &nbsp; {{bidderRating}}/10
                                        <i class="fa fa-star checked" aria-hidden="true"></i>
                                    </td>

                                </tr>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Post Date:
                                        </strong>
                                    </th>
                                    <td>
                                        {{parseDate postDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <th class="pl-0" scope="row">
                                        <strong>
                                            Expired Date:
                                        </strong>
                                    </th>
                                    <td>
                                        {{getRemainingTime expiredDate}} left
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{#if ../isUserId}}
                        {{#if (isSellerOfThis this.sellerId this.userId)}}
                        {{else}}
                        <div></div>
                        <div class="action1" style="text-align: center;">

                            {{#if (isFavorite proId ../FavoriteProduct)}}
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="unlikeButton" onclick="buttonLike2()"
                                    style="color: red">
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="unlike" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="likeButton" onclick="buttonLike2()"
                                    style="color: black" hidden>
                                    <span class="fa fa-heart-o" id="like"></span>
                                    <input type="hidden" id="like" value="like" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            {{else}}
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="likeButton" onclick="buttonLike1()"
                                    style="color: black">
                                    <span class="fa fa-heart-o" id="like"></span>
                                    <input type="hidden" id="like" value="like" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            <form method="post" style="text-align: end;">
                                <button class="likebtn" type="submit" id="unlikeButton" onclick="buttonLike1()"
                                    style="color: red" hidden>
                                    <span class="fa fa-heart" id="like"></span>
                                    <input type="hidden" id="like" value="unlike" name="content">
                                    <input type="hidden" id="like" value="{{proId}}" name="proId">
                                </button>
                            </form>
                            {{/if}}

                            <button id="bidButton" class="bid btn btn-default" type="button" onclick="showbid()">
                                Bid now
                            </button>
                            {{#if (isDeniedUser ../listofDeniedBidder this.userId)}}
                            <p style="text-align: left;" class="alert alert-danger fw-bold mt-2">
                                You are denied to bid this product.
                            </p>
                            {{!-- <h3>You are denied to bid this product.</h3> --}}
                            {{else}}
                            <form id="bidForm" method="post" action="/product">
                                <div id="bidAction" hidden>
                                    {{#if (getRatingType userRating 1)}}
                                    <p class="d-flex justify-content-center">
                                        <strong>Minimum Bid Price:&nbsp </strong>
                                        <span>{{minimumBidPrice}}$</span>
                                    <div></div>
                                    <strong>Your Price: </strong>
                                    <input id="prevPrice" type="number" name="price" />
                                
                                    <div style="font-size: smaller;">This is using Auto Bid. You just need to enter your max
                                        price(Largest price you can pay for this product). The system will calculate and
                                        auto bid to give you a best price</div>
                                    {{!-- this field is used to pass value into javascript --}}
                                    <input type="hidden" name="minimumPrice" value={{minimumBidPrice}} />
                                    <input type="hidden" name="content" value="Submit" />
                                    <input type="hidden" name="proId" value={{proId}} />
                                    <input type="hidden" name="stepPrice" value={{stepPrice}} />
                                    <div></div>
                                    <input id="prevBidAction" type="button" class="bid btn btn-default" value="Accept" name="content">
                                </div>
                                
                                <div id="sureBid" hidden>
                                    <strong>Your auto auction price is : <input id="surePrice" type="number" readonly></strong>
                                    <div></div>
                                    <div style="font-size: small;">Are you sure to bid this cost?</div>
                                    <input id="backBid" class="bid btn btn-default" type="button" value="Back">
                                    <input type="submit" class="bid btn btn-default" value="Submit">
                                
                                </div>
                                </p>
                                {{/if}}
                                
                                {{#if (getRatingType userRating 2)}}
                                <br>
                                <h5>Your rating score does not meet the requirement for bidding (smaller than 80%)!!!
                                </h5>
                                {{/if}}
                                
                                {{#if (getRatingType userRating 3)}}
                                <br>
                                <h5>Seller of this product is not allow user which doesn't have rating score to bid!!!
                                </h5>
                                {{/if}}
                            </form>
                            {{/if}}

                        </div>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="">
                <h2 class="products__title fw-bold">
                    Description
                </h2>
                <div class="description-content">
                    {{{description}}}
                </div>
                {{#if (isSellerOfThis this.sellerId this.userId)}}
                <div style="text-align: center;">
                    <button id="updateDesButton" class="bid btn btn-default" type="button" onclick="showUpdateField()">
                        Update
                    </button>
                </div>

                <form method="post" action="/seller/add-description" hidden="hidden" id="updateField">
                    <input type="hidden" value={{proId}} name="proId">
                    <div>&nbsp;</div>
                    <textarea id="tinymce-input" name="description"></textarea>
                    <div style="text-align: center;">
                        <button class="bid btn btn-default" type="submit" onclick="">
                            Save
                        </button>
                    </div>
                </form>
                {{/if}}
            </div>
            <div class="auction-history">
                <h2 class="products__title fw-bold">Auction history</h2>
                {{#if ../empty}}
                <p class="alert alert-info fw-bold mt-2">No one has bid for this product yet!</p>
                {{else}}
                <div class="panel">
                    <div class="panel-body table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Time</th>
                                    <th scope="col">Bidder</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each ../auctionHistory as |history|}}
                                <tr>
                                    <td style="min-width: 12rem;">{{parseDate history.auctionTime}}</td>
                                    <td>{{maskBidderName history.bidderName}}</td>
                                    <td>{{history.auctionPrice}} USD</td>
                                    {{#if history.isDenied}}
                                    <td> Accept</td>
                                    {{else}}
                                    <td> Denied</td>
                                    {{/if}}
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/if}}
            </div>
            {{#if (isSellerOfThis this.sellerId this.userId)}}

            <div >
                <h2 class="products__title fw-bold">
                    List Bidder
                </h2>
                {{#if ../emptyBidderList}}
                    <div class="alert alert-info fw-bold">Current bidder list is empty!</div>
                {{else}}
                <div class="description-content">
                    <div class="container p-0">
                        <ul class="responsive-table">
                            {{!-- <li class="table-header">
                                <div class="col col-1"> Bidder Name</div>

                            </li> --}}
                            {{#each ../listBidder as |listbidder|}}
                            <li class="table-row">
                                <div class="d-flex justify-content-between col col-1">
                                     <a href="/product/rating?userId={{listbidder.bidderId}}">{{maskBidderName
                                    listbidder.bidderName}}</a>
                                </div>
                                <form method="post" action="/seller/denyBidder">
                                    <input type="hidden" value="{{listbidder.bidderId}}" name="bidderId">
                                    <input type="hidden" value="{{../proId}}" name="proId">
                                    <input type="hidden" value="{{../stepPrice}}" name="stepPrice">
                                    <button type="submit" class="btn btn-danger"> DENY </button>
                                </form>
                            </li>
                            {{/each}}
                            </li>
                        </ul>
                    </div>
                </div>
                {{/if}}
            </div>

            {{/if}}

            {{/each}}
            <div class="">
                <div class="products__related mt-3">
                    <h2 class="products__title fw-bold">Related Product</h2>
                    <div style="padding-left: 0" class="products__content owl-carousel owl-theme related-product">
                        {{#each this.listProduct}}
                        {{>product product=this}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#section "scripts"}}
<script type="application/javascript" src="/public/tinymce/tinymce.min.js"></script>
<script type="application/javascript" src="/public/js/tinymce.config.js"></script>
<script src="/public/js/viewDetailProduct.js"></script>
<script type="text/javascript">
    $(".owl-carousel.related-product").owlCarousel({
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            400: {
                items: 2,
            },
            700: {
                items: 3,
            },
            1200: {
                items: 5,
            },

        },
    })
    $(".owl-carousel").owlCarousel({
        //loop:true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 5,
            },

        },
    });

</script>
{{/section}}

{{#section "stylesheets"}}
<link rel="stylesheet" href="/public/css/detailProduct.css">

{{/section}}