<h1 class="h3 text-center">Edit personal information</h1>
<div class="row ms-3 my-2">
  <div class="info__wrapper p-3">
    <div class="d-flex align-items-center justify-content-between">
      <p class="h5 me-2"><i
          class="fa fa-envelope pe-2 text-warning"
          aria-hidden="true"
        ></i>
        <span class="h6">{{user.email}}</span>
      </p>

      <button id="btnEditEmail" type="button" class="btn btn-primary"><i
          class="fa fa-pencil"
          aria-hidden="true"
        ></i></button>

    </div>
    <div style="display: none;" id="emailFormWrapper">
      <form id="frmChangeEmail" method="post">
        <div class="mb-3">
          <label for="email" class="col-form-label">New email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="email"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button
          id="btnCloseEmail"
          type="button"
          class="btn btn-secondary"
        >Close</button>
      </form>
    </div>
    <div class="d-flex align-items-center mt-2 justify-content-between">
      <p class="h5 me-2">
        <i class="fa fa-user pe-3 text-warning" aria-hidden="true"></i>
        <span class="h6">{{user.firstName}} {{user.lastName}}</span>
      </p>
      <button id="btnEditName" type="button" class="btn btn-primary"><i
          class="fa fa-pencil"
          aria-hidden="true"
        ></i></button>
    </div>
    <div style="display: none;" id="nameFormWrapper">
      <form id="frmChangeName" method="post">
        <div class="mb-3">
          <label for="firstname" class="col-form-label">First Name</label>
          <input
            name="firstname"
            type="text"
            class="form-control"
            id="firstname"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastname" class="col-form-label">Last Name</label>
          <input
            name="lastname"
            type="text"
            class="form-control"
            id="lastname"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button
          id="btnCloseName"
          type="button"
          class="btn btn-secondary"
        >Close</button>

      </form>
    </div>
    <div class="d-flex h4 mt-2 justify-content-between">
      <div>
        <i class="fa fa-key pe-2 text-warning" aria-hidden="true"></i>
        <input
          style="background: none; display: inline-block; width: fit-content"
          class="form-control"
          value="123456"
          type="password"
          name="password"
          id="password"
          readonly
        />
      </div>
      <button id="btnEditPass" class="btn btn-primary" type="button"><i
          class="fa fa-pencil"
          aria-hidden="true"
        ></i></button>
    </div>
    <div style="display: none;" id="passFormWrapper">
      <form id="frmChangePassword" method="post">
        <div class="mb-3">
          <label for="oldpassword" class="col-form-label">Enter your old
            password</label>
          <input
            name="oldpass"
            type="password"
            class="form-control"
            id="oldpass"
            required
          />
        </div>
        <div class="mb-3">
          <label for="newpassword" class="col-form-label">Enter your new
            password</label>
          <input
            name="newpass"
            type="password"
            class="form-control"
            id="newpass"
            required
          />
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="col-form-label">Confirm your new
            password</label>
          <input
            name="confirmpassword"
            type="password"
            class="form-control"
            id="confirmpass"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button
          id="btnClosePass"
          type="button"
          class="btn btn-secondary"
        >Close</button>
      </form>
    </div>

    {{#if (isBidder user.roleId)}}
      {{#if (isPendingRequest request)}}
        <p class="alert alert-info">Your request for upgrading to seller is
          pending!
        </p>
      {{else}}
        <form id="frmUpgrade" action="/bidder/upgrade" method="post">
          <input type="hidden" name="userId" value="{{user.userId}}" />
          <button
            id="btnUpgrade"
            style="margin: 0 auto;"
            class="btn header__btn d-block mt-3"
            type="submit"
          >Upgrade to seller</button>
        </form>
      {{/if}}
    {{/if}}
  </div>
</div>
{{#section "scripts"}}
  <script>
    $('#frmChangeEmail').on('submit', function (e) { e.preventDefault(); const
    email = $('#email').val(); $('#frmChangeEmail').off('submit').submit();
    $('#emailFormWrapper').removeClass('d-block');})
    $('#frmChangeName').on('submit', function (e) { e.preventDefault(); const
    firstname = $('#firstname').val(); const lastname = $('#lastname');
    $('#frmChangeName').off('submit').submit();})
    $('#frmChangePassword').on('submit', function (e) { e.preventDefault();
    const oldpass = $('#oldpass').val(); const newpass = $('#newpass');
    $('#frmChangePassword').off('submit').submit();})
    $('#btnUpgrade').on('click', function(e) { $('#frmUpgrade').submit(); })
    $('#btnEditEmail').on('click', function(e) {
    $('#emailFormWrapper').addClass('d-block'); });
    $('#btnEditName').on('click', function(e) {
    $('#nameFormWrapper').addClass('d-block'); })
    $('#btnCloseEmail').on('click', function(e) {
    $('#emailFormWrapper').removeClass('d-block'); })
    $('#btnCloseName').on('click', function(e) {
    $('#nameFormWrapper').removeClass('d-block'); })
    $('#btnClosePass').on('click', function(e) {
    $('#passFormWrapper').removeClass('d-block'); })
    $('#btnEditPass').on('click', function(e) {
    $('#passFormWrapper').addClass('d-block'); })
  </script>
{{/section}}